<h1>Кіру</h1>
. . .
<form action={~p"/login"} method="post">
  <input type="hidden" name="_csrf_token" value={Plug.CSRFProtection.get_csrf_token()} />
  <input name="email" type="email" placeholder="Email" />
  <input name="password" type="password" placeholder="Пароль" />
  <button type="submit">Кіру</button>
</form>
