<h1>Тіркелу</h1>
<form action={~p"/register"} method="post">
  <input type="hidden" name="_csrf_token" value={Plug.CSRFProtection.get_csrf_token()} />
  <input name="user[email]" type="email" placeholder="Email" />
  <input name="user[password]" type="password" placeholder="Пароль" />
  <button type="submit">Тіркелу</button>
</form>
